@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    max-width: 100%;
}

body {
    background-color: lightgray;
    font-family: Lato;
}

.wraper {
    width: 100%;
    margin: 0 auto;
    /* display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center; */
}

h1 {
    color: dodgerblue;
    font-weight: normal;
    font-size: 2.5rem;
    text-align: center;
}

.memes {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.meme input {
    display: none;
}